## Boston Housing

In [62]:
import pandas as pd
import numpy as np


df = pd.read_csv("data\\housing.csv", delimiter=r"\s+",header=None)
print(df.shape)
display(df)

(506, 14)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [63]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       506 non-null    float64
 1   1       506 non-null    float64
 2   2       506 non-null    float64
 3   3       506 non-null    int64
 4   4       506 non-null    float64
 5   5       506 non-null    float64
 6   6       506 non-null    float64
 7   7       506 non-null    float64
 8   8       506 non-null    int64
 9   9       506 non-null    float64
 10  10      506 non-null    float64
 11  11      506 non-null    float64
 12  12      506 non-null    float64
 13  13      506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB
None

In [65]:
df.columns=['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV']
display(df)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [78]:
#df = df.astype({"MEDV": int})
df = df.astype(int)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    int64
 1   ZN       506 non-null    int64
 2   INDUS    506 non-null    int64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    int64
 5   RM       506 non-null    int64
 6   AGE      506 non-null    int64
 7   DIS      506 non-null    int64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    int64
 11  B        506 non-null    int64
 12  LSTAT    506 non-null    int64
 13  MEDV     506 non-null    int64
dtypes: int64(14)
memory usage: 55.5 KB
None

In [108]:
from sklearn.model_selection import train_test_split


#feature_cols=['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV']
feature_cols=['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT']
#feature_cols=['CHAS','RAD']
X= df[feature_cols]
print(X)
Y=df.MEDV
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.75,random_state=123,shuffle=True)

     CRIM  ZN  INDUS  CHAS  NOX  RM  AGE  DIS  RAD  TAX  PTRATIO    B  LSTAT
0       0  18      2     0    0   6   65    4    1  296       15  396      4
1       0   0      7     0    0   6   78    4    2  242       17  396      9
2       0   0      7     0    0   7   61    4    2  242       17  392      4
3       0   0      2     0    0   6   45    6    3  222       18  394      2
4       0   0      2     0    0   7   54    6    3  222       18  396      5
..    ...  ..    ...   ...  ...  ..  ...  ...  ...  ...      ...  ...    ...
501     0   0     11     0    0   6   69    2    1  273       21  391      9
502     0   0     11     0    0   6   76    2    1  273       21  396      9
503     0   0     11     0    0   6   91    2    1  273       21  396      5
504     0   0     11     0    0   6   89    2    1  273       21  393      6
505     0   0     11     0    0   6   80    2    1  273       21  396      7

[506 rows x 13 columns]

In [109]:
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics

objetoModelo= DecisionTreeRegressor(random_state=0)
modelGenerado=objetoModelo.fit(X_train,Y_train)
y_pred= objetoModelo.predict(X_test)

0.4465855379322371

## Arbol de DecisiÃ³n para el modelo de regresiÃ³n. Incluye el Coeficiente de determinaciÃ³n o R-Cuadrado.

In [110]:
from sklearn.tree import export_graphviz


export_graphviz(objetoModelo,out_file="BostonHousing.dot",class_names=feature_cols,feature_names=objetoModelo.feature_names_in_,filled=True)

##  Extrayendo los MSE del arbol de decisiÃ³n

In [111]:
extracted_MSEs = objetoModelo.tree_.impurity # The Hidden magic is HERE
for idx, MSE in enumerate(objetoModelo.tree_.impurity):
    print("Node {} has MSE {}".format(idx,MSE))

Node 0 has MSE 83.12074829931964
Node 1 has MSE 39.52227903579245
Node 2 has MSE 28.263696128560923
Node 3 has MSE 18.466879339463333
Node 4 has MSE 3.138888888889028
Node 5 has MSE 0.0
Node 6 has MSE 1.1875
Node 7 has MSE 0.22222222222228538
Node 8 has MSE 0.0
Node 9 has MSE 0.0
Node 10 has MSE 0.0
Node 11 has MSE 13.141456894631347
Node 12 has MSE 12.515555555555466
Node 13 has MSE 13.26530612244892
Node 14 has MSE 0.6666666666666288
Node 15 has MSE 0.0
Node 16 has MSE 0.25
Node 17 has MSE 0.0
Node 18 has MSE 0.0
Node 19 has MSE 0.1875
Node 20 has MSE 0.0
Node 21 has MSE 0.0
Node 22 has MSE 3.0
Node 23 has MSE 1.0399999999999636
Node 24 has MSE 0.25
Node 25 has MSE 0.0
Node 26 has MSE 0.0
Node 27 has MSE 0.22222222222228538
Node 28 has MSE 0.0
Node 29 has MSE 0.0
Node 30 has MSE 0.8888888888888573
Node 31 has MSE 0.0
Node 32 has MSE 0.0
Node 33 has MSE 10.557322485207067
Node 34 has MSE 10.5
Node 35 has MSE 0.0
Node 36 has MSE 2.8888888888888573
Node 37 has MSE 0.0
Node 38 has MSE 0.25
Node 39 has MSE 0.0
Node 40 has MSE 0.0
Node 41 has MSE 8.287760416666686
Node 42 has MSE 8.094674556212965
Node 43 has MSE 5.539930555555486
Node 44 has MSE 4.652892561983492
Node 45 has MSE 3.9408284023669466
Node 46 has MSE 4.0
Node 47 has MSE 0.0
Node 48 has MSE 0.0
Node 49 has MSE 1.2396694214876334
Node 50 has MSE 0.9375
Node 51 has MSE 0.0
Node 52 has MSE 0.5714285714285552
Node 53 has MSE 0.25
Node 54 has MSE 0.0
Node 55 has MSE 0.0
Node 56 has MSE 0.22222222222222854
Node 57 has MSE 0.0
Node 58 has MSE 0.0
Node 59 has MSE 0.2222222222221717
Node 60 has MSE 0.0
Node 61 has MSE 0.0
Node 62 has MSE 3.7777777777777715
Node 63 has MSE 2.359375
Node 64 has MSE 0.0
Node 65 has MSE 1.9591836734694539
Node 66 has MSE 0.22222222222228538
Node 67 has MSE 0.0
Node 68 has MSE 0.0
Node 69 has MSE 2.1875
Node 70 has MSE 0.0
Node 71 has MSE 0.6666666666666856
Node 72 has MSE 0.25
Node 73 has MSE 0.0
Node 74 has MSE 0.0
Node 75 has MSE 0.0
Node 76 has MSE 0.0
Node 77 has MSE 2.25
Node 78 has MSE 0.0
Node 79 has MSE 0.0
Node 80 has MSE 0.25
Node 81 has MSE 0.0
Node 82 has MSE 0.0
Node 83 has MSE 5.390495867768607
Node 84 has MSE 0.0
Node 85 has MSE 3.2970521541950006
Node 86 has MSE 2.016528925619866
Node 87 has MSE 1.0
Node 88 has MSE 0.0
Node 89 has MSE 0.0
Node 90 has MSE 0.839506172839549
Node 91 has MSE 0.0
Node 92 has MSE 0.5
Node 93 has MSE 0.25
Node 94 has MSE 0.0
Node 95 has MSE 0.0
Node 96 has MSE 0.25
Node 97 has MSE 0.0
Node 98 has MSE 0.22222222222222854
Node 99 has MSE 0.0
Node 100 has MSE 0.0
Node 101 has MSE 2.0
Node 102 has MSE 0.25
Node 103 has MSE 0.0
Node 104 has MSE 0.0
Node 105 has MSE 0.6666666666666856
Node 106 has MSE 0.0
Node 107 has MSE 0.5600000000000023
Node 108 has MSE 0.25
Node 109 has MSE 0.0
Node 110 has MSE 0.22222222222228538
Node 111 has MSE 0.0
Node 112 has MSE 0.25
Node 113 has MSE 0.0
Node 114 has MSE 0.0
Node 115 has MSE 0.0
Node 116 has MSE 0.0
Node 117 has MSE 15.54273192111026
Node 118 has MSE 12.9755859375
Node 119 has MSE 9.023333333333312
Node 120 has MSE 2.25
Node 121 has MSE 0.0
Node 122 has MSE 0.0
Node 123 has MSE 6.173469387755091
Node 124 has MSE 4.282578875171481
Node 125 has MSE 3.051903114186871
Node 126 has MSE 0.6875
Node 127 has MSE 0.0
Node 128 has MSE 0.25
Node 129 has MSE 0.0
Node 130 has MSE 0.0
Node 131 has MSE 2.3313609467455763
Node 132 has MSE 1.555555555555543
Node 133 has MSE 0.0
Node 134 has MSE 0.25
Node 135 has MSE 0.0
Node 136 has MSE 0.0
Node 137 has MSE 1.759999999999991
Node 138 has MSE 0.5599999999999739
Node 139 has MSE 0.22222222222220012
Node 140 has MSE 0.0
Node 141 has MSE 0.0
Node 142 has MSE 0.0
Node 143 has MSE 0.9599999999999795
Node 144 has MSE 0.0
Node 145 has MSE 0.1875
Node 146 has MSE 0.0
Node 147 has MSE 0.0
Node 148 has MSE 2.2900000000000205
Node 149 has MSE 0.0
Node 150 has MSE 1.5061728395061493
Node 151 has MSE 0.6875
Node 152 has MSE 0.22222222222220012
Node 153 has MSE 0.0
Node 154 has MSE 0.0
Node 155 has MSE 0.0
Node 156 has MSE 0.8000000000000114
Node 157 has MSE 0.0
Node 158 has MSE 0.6875
Node 159 has MSE 0.25
Node 160 has MSE 0.0
Node 161 has MSE 0.0
Node 162 has MSE 0.0
Node 163 has MSE 0.0
Node 164 has MSE 25.0
Node 165 has MSE 0.0
Node 166 has MSE 0.0
Node 167 has MSE 3.4399999999999977
Node 168 has MSE 0.25
Node 169 has MSE 0.0
Node 170 has MSE 0.0
Node 171 has MSE 1.555555555555543
Node 172 has MSE 0.0
Node 173 has MSE 0.25
Node 174 has MSE 0.0
Node 175 has MSE 0.0
Node 176 has MSE 71.97333333333336
Node 177 has MSE 22.88888888888914
Node 178 has MSE 9.75
Node 179 has MSE 0.22222222222239907
Node 180 has MSE 0.0
Node 181 has MSE 0.0
Node 182 has MSE 4.800000000000182
Node 183 has MSE 0.0
Node 184 has MSE 4.75
Node 185 has MSE 1.0
Node 186 has MSE 0.0
Node 187 has MSE 0.0
Node 188 has MSE 4.0
Node 189 has MSE 0.0
Node 190 has MSE 0.0
Node 191 has MSE 0.0
Node 192 has MSE 49.33333333333326
Node 193 has MSE 5.2000000000000455
Node 194 has MSE 1.5
Node 195 has MSE 0.22222222222194432
Node 196 has MSE 0.0
Node 197 has MSE 0.0
Node 198 has MSE 0.0
Node 199 has MSE 0.0
Node 200 has MSE 0.0

In [116]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error as mae

score = objetoModelo.score(X_test, Y_test)
print("Coeficiente de determinaciÃ³n: "+str(score))

print("Error cuadrÃ¡tico medio:"+str(mean_squared_error(Y_test, y_pred)))
error = mae(Y_test, y_pred)
print("Error absoluto medio:"+str(error))

Coeficiente de determinaciÃ³n: 0.4465855379322371
Error cuadrÃ¡tico medio:47.536842105263155
Error absoluto medio:4.410526315789474