## Control de Asistencia

## Bibliotecas

In [1]:
import pandas as pd
import re

In [7]:


matriculados= pd.read_excel("C:\\Users\\User\\Downloads\\ControlAsistencia\\Jueves\\Matriculados.xlsx") 
matriculados['NombreSinEspacios']=(matriculados['Nombre'].str.replace(" ",""))
display(matriculados)

,No.,Código,Nombre,Observaciones,NombreSinEspacios
0,1,2021117053,NATALIA VANESSA CABARCAS DE LA HOZ,NaN,NATALIAVANESSACABARCASDELAHOZ
1,2,2021117008,ALCIDES JOSE DURAN ARIZA,NaN,ALCIDESJOSEDURANARIZA
2,3,2021117031,MATEO ENRIQUEZ DIAZ,NaN,MATEOENRIQUEZDIAZ
3,4,2020217004,ALEXANDRA GRANADOS RICO,NaN,ALEXANDRAGRANADOSRICO
4,5,2020117216,ALAN DE JESUS GUZMAN LOPEZ,NaN,ALANDEJESUSGUZMANLOPEZ
5,6,2021117015,VALERIA ANDREA HERNANDEZ ZAMBRANO,NaN,VALERIAANDREAHERNANDEZZAMBRANO
6,9,2020217050,VICTOR ALEJANDRO LOPEZ CABRERA,NaN,VICTORALEJANDROLOPEZCABRERA
7,10,2019217035,LISSETH VANESA MARTELO MENDOZA,NaN,LISSETHVANESAMARTELOMENDOZA
8,11,2021117042,MARCELA SOFIA MENDOZA ROYERO,NaN,MARCELASOFIAMENDOZAROYERO
9,12,2019117031,WILMER JOSE MURGAS PEÑA,NaN,WILMERJOSEMURGASPEÑA
10,13,2020117009,VALERIA MICHELL ORDOÑEZ GUTIERREZ,NaN,VALERIAMICHELLORDOÑEZGUTIERREZ
11,14,2020117067,CATALINA PINZÓN DE LAVALLE,NaN,CATALINAPINZÓNDELAVALLE
12,15,2021117044,DANIELA REYES PARDO,NaN,DANIELAREYESPARDO
13,18,2020217005,JORGE MARIO TORRES FERNANDEZ,NaN,JORGEMARIOTORRESFERNANDEZ
14,20,2021117013,MARGARITA ROSA VIVES BERNAL,NaN,MARGARITAROSAVIVESBERNAL

## Control asistencia

In [8]:
fecha="10-04-2025"
asistencia= pd.read_csv("C:\\Users\\User\\Downloads\\ControlAsistencia\\Jueves\\"+fecha+".csv",sep="\t",encoding="UTF-16")
asistencia['Nombre1']=asistencia['Nombre completo'].str.replace(" ","")
display(asistencia)

,Nombre completo,Acción del usuario,Marca de tiempo,Nombre1
0,Daniel Gonzalez Polo,Unido,NaN,DanielGonzalezPolo
1,MARCELA SOFIA MENDOZA ROYERO,Unido,NaN,MARCELASOFIAMENDOZAROYERO
2,DANIELA REYES PARDO,Unido,NaN,DANIELAREYESPARDO
3,ALCIDES JOSE DURAN ARIZA,Unido,NaN,ALCIDESJOSEDURANARIZA
4,NATALIA VANESSA CABARCAS DE LA HOZ,Unido,NaN,NATALIAVANESSACABARCASDELAHOZ
5,NATALIA VANESSA CABARCAS DE LA HOZ,Abandonó,NaN,NATALIAVANESSACABARCASDELAHOZ
6,NATALIA VANESSA CABARCAS DE LA HOZ,Unido,NaN,NATALIAVANESSACABARCASDELAHOZ
7,NATALIA VANESSA CABARCAS DE LA HOZ,Abandonó,NaN,NATALIAVANESSACABARCASDELAHOZ
8,NATALIA VANESSA CABARCAS DE LA HOZ,Unido,NaN,NATALIAVANESSACABARCASDELAHOZ
9,NATALIA VANESSA CABARCAS DE LA HOZ,Abandonó,NaN,NATALIAVANESSACABARCASDELAHOZ
10,NATALIA VANESSA CABARCAS DE LA HOZ,Unido,NaN,NATALIAVANESSACABARCASDELAHOZ
11,MARGARITA ROSA VIVES BERNAL,Unido,NaN,MARGARITAROSAVIVESBERNAL
12,JORGE MARIO TORRES FERNANDEZ,Unido,NaN,JORGEMARIOTORRESFERNANDEZ
13,JORGE MARIO TORRES FERNANDEZ,Abandonó,NaN,JORGEMARIOTORRESFERNANDEZ
14,JORGE MARIO TORRES FERNANDEZ,Unido,NaN,JORGEMARIOTORRESFERNANDEZ
15,JORGE MARIO TORRES FERNANDEZ,Abandonó,NaN,JORGEMARIOTORRESFERNANDEZ
16,JORGE MARIO TORRES FERNANDEZ,Unido,NaN,JORGEMARIOTORRESFERNANDEZ
17,VALERIA MICHELL ORDOÑEZ GUTIERREZ,Unido,NaN,VALERIAMICHELLORDOÑEZGUTIERREZ
18,WILMER JOSE MURGAS PEÑA,Unido,NaN,WILMERJOSEMURGASPEÑA
19,VICTOR ALEJANDRO LOPEZ CABRERA,Unido,NaN,VICTORALEJANDROLOPEZCABRERA
20,VICTOR ALEJANDRO LOPEZ CABRERA,Abandonó,NaN,VICTORALEJANDROLOPEZCABRERA
21,VALERIA ANDREA HERNANDEZ ZAMBRANO,Unido,NaN,VALERIAANDREAHERNANDEZZAMBRANO
22,ALEXANDRA GRANADOS RICO,Unido,NaN,ALEXANDRAGRANADOSRICO
23,LISSETH VANESA MARTELO MENDOZA,Unido,NaN,LISSETHVANESAMARTELOMENDOZA
24,MATEO ENRIQUEZ DIAZ,Unido,NaN,MATEOENRIQUEZDIAZ
25,CATALINA PINZÓN DE LAVALLE,Unido,NaN,CATALINAPINZÓNDELAVALLE
26,CATALINA PINZÓN DE LAVALLE,Abandonó,NaN,CATALINAPINZÓNDELAVALLE
27,CATALINA PINZÓN DE LAVALLE,Unido,NaN,CATALINAPINZÓNDELAVALLE
28,ALAN DE JESUS GUZMAN LOPEZ,Unido,NaN,ALANDEJESUSGUZMANLOPEZ

In [9]:
asistenciaNoRepetida=asistencia["Nombre1"].unique()

asistio = set()
noAsistio=[]
# Convert to DataFrame

for nses, n in   zip(matriculados["NombreSinEspacios"],matriculados["Nombre"]):    
    if nses in asistenciaNoRepetida:
        asistio.add(n) 
    else:
        noAsistio.append(n)   
    

print("\n Asistió.........\n")
for e in asistio:
    print(e)

print("\n------------No Asisitió-------------- ")
for na in noAsistio:
    print(na)

 Asistió.........

MATEO ENRIQUEZ DIAZ
VICTOR ALEJANDRO LOPEZ CABRERA
VALERIA MICHELL ORDOÑEZ GUTIERREZ
VALERIA ANDREA HERNANDEZ ZAMBRANO
MARGARITA ROSA VIVES BERNAL
ALEXANDRA   GRANADOS  RICO
CATALINA PINZÓN DE LAVALLE
ALCIDES JOSE DURAN ARIZA
WILMER JOSE MURGAS PEÑA
MARCELA SOFIA MENDOZA ROYERO
JORGE MARIO TORRES FERNANDEZ
DANIELA REYES PARDO
NATALIA VANESSA CABARCAS DE LA HOZ
LISSETH VANESA MARTELO MENDOZA
ALAN DE JESUS GUZMAN LOPEZ

------------No Asisitió--------------

## Actualiza archivo de Inasistencia

In [10]:
dfInasistencia = pd.DataFrame(noAsistio, columns=['Nombre Estudiante'])
dfInasistencia["Fecha"]=fecha

Inasistencia= pd.read_excel("C:\\Users\\User\\Downloads\\ControlAsistencia\\Jueves\\InasistenciaJueves.xlsx") 
frames = [Inasistencia,dfInasistencia]
result = pd.concat(frames)
result.to_excel("C:\\Users\\User\\Downloads\\ControlAsistencia\\Jueves\\InasistenciaJueves.xlsx",index=False)
print(result)

                 Nombre Estudiante       Fecha  Unnamed: 2
0       CATALINA PINZÓN DE LAVALLE  06-02-2025         NaN
1      JIMER ENRIQUE LEGUIA MUÑOZ   13-02-2025         NaN
2      JIMER ENRIQUE LEGUIA MUÑOZ   20-02-2025         NaN
3         WILMER JOSE MURGAS PEÑA   20-02-2025         NaN
4   OLGA MILENA SANMARTIN AVENDAÑO  20-02-2025  Si asistió
5   EDWIN RAFAEL IBANEZ CERVANTES   27-02-2025         NaN
6   EDWIN RAFAEL IBANEZ CERVANTES    6-03-2025         NaN
7    JORGE MARIO TORRES FERNANDEZ    6-03-2025         NaN
8       ALEXANDRA   GRANADOS  RICO  20-03-2025         NaN
9   EDWIN RAFAEL IBANEZ CERVANTES   20-03-2025         NaN
10  EDWIN RAFAEL IBANEZ CERVANTES   27-03-2025         NaN
11  OLGA MILENA SANMARTIN AVENDAÑO  27-03-2025         NaN

In [15]:
Inasistencia= pd.read_excel("C:\\Users\\User\\Downloads\\ControlAsistencia\\Jueves\\InasistenciaJueves.xlsx") 
display(Inasistencia)

                Nombre Estudiante       Fecha  Unnamed: 2
0      CATALINA PINZÓN DE LAVALLE  06-02-2025         NaN
1     JIMER ENRIQUE LEGUIA MUÑOZ   13-02-2025         NaN
2     JIMER ENRIQUE LEGUIA MUÑOZ   20-02-2025         NaN
3        WILMER JOSE MURGAS PEÑA   20-02-2025         NaN
4  OLGA MILENA SANMARTIN AVENDAÑO  20-02-2025  Si asistió
5  EDWIN RAFAEL IBANEZ CERVANTES   27-02-2025         NaN
6  EDWIN RAFAEL IBANEZ CERVANTES    6-03-2025         NaN
7   JORGE MARIO TORRES FERNANDEZ    6-03-2025         NaN
8      ALEXANDRA   GRANADOS  RICO  20-03-2025         NaN
9  EDWIN RAFAEL IBANEZ CERVANTES   20-03-2025         NaN