## Control de Asistencia

In [5]:
import pandas as pd
import re

matriculados= pd.read_excel("C:\\Users\\User\\Downloads\\ControlAsistencia\\Lunes\\MatriculadosLunes.xlsx") 
matriculados['NombreSinEspacios']=(matriculados['Nombre'].str.replace(" ",""))
display(matriculados)

,No.,C贸digo,Nombre,NombreSinEspacios
0,1,2023115033,JESUS ANDRES AROCA PAEZ,JESUSANDRESAROCAPAEZ
1,3,2023115045,ANTONIO JOSE CUZA CAMPO,ANTONIOJOSECUZACAMPO
2,4,2023115072,SERGIO LUIS FLOREZ SAUCEDO,SERGIOLUISFLOREZSAUCEDO
3,5,2023115012,SEBASTIAN MAURICIO GUARDIOLA RIOS,SEBASTIANMAURICIOGUARDIOLARIOS
4,6,2023115061,DULCE MARIA MENDEZ FUENTES,DULCEMARIAMENDEZFUENTES
5,7,2021215104,DANIEL EDUARDO NAVARRO PALOMINO,DANIELEDUARDONAVARROPALOMINO
6,8,2023115011,SANTIAGO ANDRES NIEVES CERVANTES,SANTIAGOANDRESNIEVESCERVANTES
7,9,2023115066,ANYIS PAOLA PADILLA VILLA,ANYISPAOLAPADILLAVILLA
8,10,2014215057,ISAI ALBERTO PLATA OROZCO,ISAIALBERTOPLATAOROZCO
9,11,2023115042,CARLOS JULIO QUINTERO ACOSTA,CARLOSJULIOQUINTEROACOSTA
10,12,2023115062,EDINSON DAVID RAMIREZ LARIOS,EDINSONDAVIDRAMIREZLARIOS
11,13,2022215044,NATALIA CAROLINA RIASCOS BORJA,NATALIACAROLINARIASCOSBORJA
12,14,2023115034,XIMENA ALEJANDRA RIVAS LOPEZ,XIMENAALEJANDRARIVASLOPEZ
13,15,2023115037,ANDRES FELIPE ROJAS CARRILLO,ANDRESFELIPEROJASCARRILLO

In [6]:
fecha="07-04-2025"
asistencia= pd.read_csv("C:\\Users\\User\\Downloads\\ControlAsistencia\\Lunes\\"+fecha+".csv",sep="\t",encoding="UTF-16")
asistencia['Nombre1']=asistencia['Nombre completo'].str.replace(" ","")
display(asistencia)

,Nombre completo,Acci贸n del usuario,Marca de tiempo,Nombre1
0,Daniel Gonzalez Polo,Unido,NaN,DanielGonzalezPolo
1,DANIEL EDUARDO NAVARRO PALOMINO,Unido,NaN,DANIELEDUARDONAVARROPALOMINO
2,DANIEL EDUARDO NAVARRO PALOMINO,Abandon贸,NaN,DANIELEDUARDONAVARROPALOMINO
3,DANIEL EDUARDO NAVARRO PALOMINO,Unido,NaN,DANIELEDUARDONAVARROPALOMINO
4,SEBASTIAN MAURICIO GUARDIOLA RIOS,Unido,NaN,SEBASTIANMAURICIOGUARDIOLARIOS
5,CARLOS JULIO QUINTERO ACOSTA,Unido,NaN,CARLOSJULIOQUINTEROACOSTA
6,ANTONIO JOSE CUZA CAMPO,Unido,NaN,ANTONIOJOSECUZACAMPO
7,SANTIAGO ANDRES NIEVES CERVANTES,Unido,NaN,SANTIAGOANDRESNIEVESCERVANTES
8,ANYIS PAOLA PADILLA VILLA,Unido,NaN,ANYISPAOLAPADILLAVILLA
9,NATALIA CAROLINA RIASCOS BORJA,Unido,NaN,NATALIACAROLINARIASCOSBORJA
10,DULCE MARIA MENDEZ FUENTES,Unido,NaN,DULCEMARIAMENDEZFUENTES
11,ANDRES FELIPE ROJAS CARRILLO,Unido,NaN,ANDRESFELIPEROJASCARRILLO
12,ANDRES FELIPE ROJAS CARRILLO,Abandon贸,NaN,ANDRESFELIPEROJASCARRILLO
13,ANDRES FELIPE ROJAS CARRILLO,Unido,NaN,ANDRESFELIPEROJASCARRILLO
14,ANDRES FELIPE ROJAS CARRILLO,Abandon贸,NaN,ANDRESFELIPEROJASCARRILLO
15,ANDRES FELIPE ROJAS CARRILLO,Unido,NaN,ANDRESFELIPEROJASCARRILLO
16,ANDRES FELIPE ROJAS CARRILLO,Abandon贸,NaN,ANDRESFELIPEROJASCARRILLO
17,ANDRES FELIPE ROJAS CARRILLO,Unido,NaN,ANDRESFELIPEROJASCARRILLO
18,JESUS ANDRES AROCA PAEZ,Unido,NaN,JESUSANDRESAROCAPAEZ
19,JESUS ANDRES AROCA PAEZ,Abandon贸,NaN,JESUSANDRESAROCAPAEZ
20,JESUS ANDRES AROCA PAEZ,Unido,NaN,JESUSANDRESAROCAPAEZ
21,XIMENA ALEJANDRA RIVAS LOPEZ,Unido,NaN,XIMENAALEJANDRARIVASLOPEZ
22,XIMENA ALEJANDRA RIVAS LOPEZ,Abandon贸,NaN,XIMENAALEJANDRARIVASLOPEZ
23,XIMENA ALEJANDRA RIVAS LOPEZ,Unido,NaN,XIMENAALEJANDRARIVASLOPEZ
24,SERGIO LUIS FLOREZ SAUCEDO,Unido,NaN,SERGIOLUISFLOREZSAUCEDO
25,EDINSON DAVID RAMIREZ LARIOS,Unido,NaN,EDINSONDAVIDRAMIREZLARIOS

## Controlando asistencia

In [7]:
asistenciaNoRepetida=asistencia["Nombre1"].unique()

asistio = set()
noAsistio=[]
for nses, n in   zip(matriculados["NombreSinEspacios"],matriculados["Nombre"]):    
    if nses in asistenciaNoRepetida:
        asistio.add(n) 
    else:
        noAsistio.append(n)   
    

print("\n Asisti贸........."+str(fecha)+" \n")
for e in asistio:
    print(e)

print("\n------------No Asisiti贸-------------- "+str(fecha))
for na in noAsistio:
    print(na)

 Asisti贸.........07-04-2025

 SERGIO LUIS FLOREZ SAUCEDO
 SEBASTIAN MAURICIO GUARDIOLA RIOS
ANYIS PAOLA PADILLA VILLA
 XIMENA ALEJANDRA RIVAS LOPEZ
 NATALIA CAROLINA RIASCOS BORJA
 ANTONIO JOSE CUZA CAMPO
 DULCE MARIA MENDEZ FUENTES
 CARLOS JULIO QUINTERO ACOSTA
 ANDRES FELIPE ROJAS CARRILLO
SANTIAGO ANDRES NIEVES CERVANTES
 EDINSON DAVID RAMIREZ LARIOS
 JESUS ANDRES AROCA PAEZ
 DANIEL EDUARDO NAVARRO PALOMINO

------------No Asisiti贸-------------- 07-04-2025
ISAI ALBERTO PLATA OROZCO

In [8]:
dfInasistencia = pd.DataFrame(noAsistio, columns=['Nombre Estudiante'])
dfInasistencia["Fecha"]=fecha

Inasistencia= pd.read_excel("C:\\Users\\User\\Downloads\\ControlAsistencia\\Lunes\\InasistenciaLunes.xlsx") 
frames = [Inasistencia,dfInasistencia]
result = pd.concat(frames)
result.to_excel("C:\\Users\\User\\Downloads\\ControlAsistencia\\Lunes\\InasistenciaLunes.xlsx",index=False)
print(result)

                   Nombre Estudiante                Fecha  \
0         ISAI ALBERTO PLATA OROZCO            17-02-2025
1   KARELIN DANIELA CABAS DE LA CRUZ           24-02-2025
2   KARELIN DANIELA CABAS DE LA CRUZ           17-03-2025
3         ISAI ALBERTO PLATA OROZCO            17-03-2025
4                      SERGIO FLOREZ  2025-03-31 00:00:00
5   KARELIN DANIELA CABAS DE LA CRUZ           31-03-2025
6         ISAI ALBERTO PLATA OROZCO            31-03-2025
0         ISAI ALBERTO PLATA OROZCO            07-04-2025

                   Unnamed: 2
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4  Se ausento sin explicaci贸n
5                         NaN
6                         NaN
0                         NaN