## Control de Asistencia

In [1]:
import pandas as pd
import re

matriculados= pd.read_excel("C:\\Users\\User\\Downloads\\ControlAsistencia\\Lunes\\MatriculadosLunes.xlsx") 
matriculados['NombreSinEspacios']=(matriculados['Nombre'].str.replace(" ",""))
display(matriculados)

,No.,Código,Nombre,NombreSinEspacios
0,1,2023115033,JESUS ANDRES AROCA PAEZ,JESUSANDRESAROCAPAEZ
1,3,2023115045,ANTONIO JOSE CUZA CAMPO,ANTONIOJOSECUZACAMPO
2,4,2023115072,SERGIO LUIS FLOREZ SAUCEDO,SERGIOLUISFLOREZSAUCEDO
3,5,2023115012,SEBASTIAN MAURICIO GUARDIOLA RIOS,SEBASTIANMAURICIOGUARDIOLARIOS
4,6,2023115061,DULCE MARIA MENDEZ FUENTES,DULCEMARIAMENDEZFUENTES
5,7,2021215104,DANIEL EDUARDO NAVARRO PALOMINO,DANIELEDUARDONAVARROPALOMINO
6,8,2023115011,SANTIAGO ANDRES NIEVES CERVANTES,SANTIAGOANDRESNIEVESCERVANTES
7,9,2023115066,ANYIS PAOLA PADILLA VILLA,ANYISPAOLAPADILLAVILLA
8,10,2014215057,ISAI ALBERTO PLATA OROZCO,ISAIALBERTOPLATAOROZCO
9,11,2023115042,CARLOS JULIO QUINTERO ACOSTA,CARLOSJULIOQUINTEROACOSTA
10,12,2023115062,EDINSON DAVID RAMIREZ LARIOS,EDINSONDAVIDRAMIREZLARIOS
11,13,2022215044,NATALIA CAROLINA RIASCOS BORJA,NATALIACAROLINARIASCOSBORJA
12,14,2023115034,XIMENA ALEJANDRA RIVAS LOPEZ,XIMENAALEJANDRARIVASLOPEZ
13,15,2023115037,ANDRES FELIPE ROJAS CARRILLO,ANDRESFELIPEROJASCARRILLO

In [3]:
fecha="26-05-2025"
asistencia= pd.read_csv("C:\\Users\\User\\Downloads\\ControlAsistencia\\Lunes\\"+fecha+".csv",sep="\t",encoding="UTF-16")
asistencia['Nombre1']=asistencia['Nombre completo'].str.replace(" ","")
display(asistencia)

,Nombre completo,Acción del usuario,Marca de tiempo,Nombre1
0,Daniel Gonzalez Polo,Unido,NaN,DanielGonzalezPolo
1,ANTONIO JOSE CUZA CAMPO,Unido,NaN,ANTONIOJOSECUZACAMPO
2,CARLOS JULIO QUINTERO ACOSTA,Unido,NaN,CARLOSJULIOQUINTEROACOSTA
3,SANTIAGO ANDRES NIEVES CERVANTES,Unido,NaN,SANTIAGOANDRESNIEVESCERVANTES
4,DULCE MARIA MENDEZ FUENTES,Unido,NaN,DULCEMARIAMENDEZFUENTES
5,ANYIS PAOLA PADILLA VILLA,Unido,NaN,ANYISPAOLAPADILLAVILLA
6,XIMENA ALEJANDRA RIVAS LOPEZ,Unido,NaN,XIMENAALEJANDRARIVASLOPEZ
7,SERGIO LUIS FLOREZ SAUCEDO,Unido,NaN,SERGIOLUISFLOREZSAUCEDO
8,SEBASTIAN MAURICIO GUARDIOLA RIOS,Unido,NaN,SEBASTIANMAURICIOGUARDIOLARIOS
9,ANDRES FELIPE ROJAS CARRILLO,Unido,NaN,ANDRESFELIPEROJASCARRILLO
10,ANDRES FELIPE ROJAS CARRILLO,Abandonó,NaN,ANDRESFELIPEROJASCARRILLO
11,ANDRES FELIPE ROJAS CARRILLO,Unido,NaN,ANDRESFELIPEROJASCARRILLO
12,JESUS ANDRES AROCA PAEZ,Unido,NaN,JESUSANDRESAROCAPAEZ
13,NATALIA CAROLINA RIASCOS BORJA,Unido,NaN,NATALIACAROLINARIASCOSBORJA
14,EDINSON DAVID RAMIREZ LARIOS,Unido,NaN,EDINSONDAVIDRAMIREZLARIOS
15,EDINSON DAVID RAMIREZ LARIOS,Abandonó,NaN,EDINSONDAVIDRAMIREZLARIOS
16,EDINSON DAVID RAMIREZ LARIOS,Unido,NaN,EDINSONDAVIDRAMIREZLARIOS
17,DANIEL EDUARDO NAVARRO PALOMINO,Unido,NaN,DANIELEDUARDONAVARROPALOMINO

## Controlando asistencia

In [4]:
asistenciaNoRepetida=asistencia["Nombre1"].unique()

asistio = set()
noAsistio=[]
for nses, n in   zip(matriculados["NombreSinEspacios"],matriculados["Nombre"]):    
    if nses in asistenciaNoRepetida:
        asistio.add(n) 
    else:
        noAsistio.append(n)   
    

print("\n Asistió........."+str(fecha)+" \n")
for e in asistio:
    print(e)

print("\n------------No Asisitió-------------- "+str(fecha))
for na in noAsistio:
    print(na)

 Asistió.........26-05-2025

 JESUS ANDRES AROCA PAEZ
ANYIS PAOLA PADILLA VILLA
 NATALIA CAROLINA RIASCOS BORJA
 XIMENA ALEJANDRA RIVAS LOPEZ
 CARLOS JULIO QUINTERO ACOSTA
 EDINSON DAVID RAMIREZ LARIOS
 ANTONIO JOSE CUZA CAMPO
 DANIEL EDUARDO NAVARRO PALOMINO
 SEBASTIAN MAURICIO GUARDIOLA RIOS
 DULCE MARIA MENDEZ FUENTES
SANTIAGO ANDRES NIEVES CERVANTES
 SERGIO LUIS FLOREZ SAUCEDO
 ANDRES FELIPE ROJAS CARRILLO

------------No Asisitió-------------- 26-05-2025
ISAI ALBERTO PLATA OROZCO

In [5]:
dfInasistencia = pd.DataFrame(noAsistio, columns=['Nombre Estudiante'])
dfInasistencia["Fecha"]=fecha

Inasistencia= pd.read_excel("C:\\Users\\User\\Downloads\\ControlAsistencia\\Lunes\\InasistenciaLunes.xlsx") 
frames = [Inasistencia,dfInasistencia]
result = pd.concat(frames)
result.to_excel("C:\\Users\\User\\Downloads\\ControlAsistencia\\Lunes\\InasistenciaLunes.xlsx",index=False)
print(result)

                    Nombre Estudiante                Fecha  \
0          ISAI ALBERTO PLATA OROZCO            17-02-2025
1    KARELIN DANIELA CABAS DE LA CRUZ           24-02-2025
2    KARELIN DANIELA CABAS DE LA CRUZ           17-03-2025
3          ISAI ALBERTO PLATA OROZCO            17-03-2025
4                       SERGIO FLOREZ  2025-03-31 00:00:00
5    KARELIN DANIELA CABAS DE LA CRUZ           31-03-2025
6          ISAI ALBERTO PLATA OROZCO            31-03-2025
7          ISAI ALBERTO PLATA OROZCO            07-04-2025
8           ANYIS PAOLA PADILLA VILLA           21-04-2025
9          ISAI ALBERTO PLATA OROZCO            21-04-2025
10         ISAI ALBERTO PLATA OROZCO            28-04-2025
11       XIMENA ALEJANDRA RIVAS LOPEZ           28-04-2025
12         DULCE MARIA MENDEZ FUENTES            5-05-2025
13         ISAI ALBERTO PLATA OROZCO             5-05-2025
14       CARLOS JULIO QUINTERO ACOSTA            5-05-2025
15            JESUS ANDRES AROCA PAEZ           12-05-2025
16         ISAI ALBERTO PLATA OROZCO            12-05-2025
17         ISAI ALBERTO PLATA OROZCO            19-05-2025
0          ISAI ALBERTO PLATA OROZCO            26-05-2025

                    Unnamed: 2
0                          NaN
1                          NaN
2                          NaN
3                          NaN
4   Se ausento sin explicación
5                          NaN
6                          NaN
7                          NaN
8                          NaN
9                          NaN
10                         NaN
11                         NaN
12                         NaN
13                         NaN
14                         NaN
15                         NaN
16                         NaN
17                         NaN
0                          NaN