## Control de Asistencia

In [1]:
import pandas as pd
import re

matriculados= pd.read_excel("C:\\Users\\User\\Downloads\\ControlAsistencia\\Miercoles\\MatriculadosMier.xlsx") 
matriculados['NombreSinEspacios']=(matriculados['Nombre'].str.replace(" ","*"))
display(matriculados)

,No.,Código,Nombre,NombreSinEspacios
0,1,2023115021,ANGIE CAROLINA ANGULO MERCADO,ANGIE*CAROLINA*ANGULO*MERCADO
1,2,2022215069,CARLOS MARIO AREVALO VILLEGAS,CARLOS*MARIO*AREVALO*VILLEGAS
2,3,2023115004,JUAN DIEGO CAHUANA MERCADO,JUAN*DIEGO*CAHUANA*MERCADO
3,4,2022115027,ALEX DAVID CARDENAS GUTIERREZ,ALEX*DAVID*CARDENAS*GUTIERREZ
4,5,2022215006,NICOLAS MANUEL HERNANDEZ PERTUZ,NICOLAS*MANUEL*HERNANDEZ*PERTUZ
5,6,2022115021,LEONARDO ANDRES MOSCOTE CERA,LEONARDO*ANDRES*MOSCOTE*CERA
6,7,2020215068,MARCELINO NAVARRO SEGURA,MARCELINO*NAVARRO*SEGURA
7,8,2022215056,MOISES DAVID OLIVEROS ANGULO,MOISES*DAVID*OLIVEROS*ANGULO
8,9,2023115024,SHAROLYN NIKOL SANCHEZ MORENO,SHAROLYN*NIKOL*SANCHEZ*MORENO
9,10,2022215018,JUAN CAMILO SIERRA ZAMBRANO,JUAN*CAMILO*SIERRA*ZAMBRANO

In [2]:
fecha="28-05-2025"
asistencia= pd.read_csv("C:\\Users\\User\\Downloads\\ControlAsistencia\\Miercoles\\"+str(fecha)+".csv",sep="\t",encoding="UTF-16")
asistencia['Nombre1']=asistencia['Nombre completo'].str.replace(" ","*")
display(asistencia)

,Nombre completo,Acción del usuario,Marca de tiempo,Nombre1
0,Daniel Gonzalez Polo,Unido,NaN,Daniel*Gonzalez*Polo
1,MOISES DAVID OLIVEROS ANGULO,Unido,NaN,MOISES*DAVID*OLIVEROS*ANGULO
2,JUAN CAMILO SIERRA ZAMBRANO,Unido,NaN,JUAN*CAMILO*SIERRA*ZAMBRANO
3,ALEX DAVID CARDENAS GUTIERREZ,Unido,NaN,ALEX*DAVID*CARDENAS*GUTIERREZ
4,JUAN DIEGO CAHUANA MERCADO,Unido,NaN,JUAN*DIEGO*CAHUANA*MERCADO
5,MARCELINO NAVARRO SEGURA,Unido,NaN,MARCELINO*NAVARRO*SEGURA
6,MARCELINO NAVARRO SEGURA,Abandonó,NaN,MARCELINO*NAVARRO*SEGURA
7,MARCELINO NAVARRO SEGURA,Unido,NaN,MARCELINO*NAVARRO*SEGURA
8,ANGIE CAROLINA ANGULO MERCADO,Unido,NaN,ANGIE*CAROLINA*ANGULO*MERCADO
9,CARLOS MARIO AREVALO VILLEGAS,Unido,NaN,CARLOS*MARIO*AREVALO*VILLEGAS
10,NICOLAS MANUEL HERNANDEZ PERTUZ,Unido,NaN,NICOLAS*MANUEL*HERNANDEZ*PERTUZ
11,SHAROLYN NIKOL SANCHEZ MORENO,Unido,NaN,SHAROLYN*NIKOL*SANCHEZ*MORENO
12,LEONARDO ANDRES MOSCOTE CERA,Unido,NaN,LEONARDO*ANDRES*MOSCOTE*CERA

## Contro asistencia

In [3]:
asistenciaNoRepetida=asistencia["Nombre1"].unique()

asistio = set()
noAsistio=[]
for m in matriculados["NombreSinEspacios"]:    
    if m in asistenciaNoRepetida:
        asistio.add(m) 
    else:
        noAsistio.append(m)   
    

print("\n Asistió.........\n")
for e in asistio:
    print(e)

print("\n------------No Asisitió-------------- ")
for na in noAsistio:
    print(na)

 Asistió.........

JUAN*CAMILO*SIERRA*ZAMBRANO
ALEX*DAVID*CARDENAS*GUTIERREZ
MOISES*DAVID*OLIVEROS*ANGULO
MARCELINO*NAVARRO*SEGURA
LEONARDO*ANDRES*MOSCOTE*CERA
CARLOS*MARIO*AREVALO*VILLEGAS
ANGIE*CAROLINA*ANGULO*MERCADO
SHAROLYN*NIKOL*SANCHEZ*MORENO
NICOLAS*MANUEL*HERNANDEZ*PERTUZ
JUAN*DIEGO*CAHUANA*MERCADO

------------No Asisitió--------------

In [4]:
dfInasistencia = pd.DataFrame(noAsistio, columns=['Nombre Estudiante'])
dfInasistencia["Fecha"]=fecha

Inasistencia= pd.read_excel("C:\\Users\\User\\Downloads\\ControlAsistencia\\Miercoles\\InasistenciaMiercoles.xlsx") 
frames = [Inasistencia,dfInasistencia]
result = pd.concat(frames)
result.to_excel("C:\\Users\\User\\Downloads\\ControlAsistencia\\Miercoles\\InasistenciaMiercoles.xlsx",index=False)
print(result)

                 Nombre Estudiante                Fecha  \
0         MARCELINO*NAVARRO*SEGURA           26-03-2025
1                          Moscote  2025-04-02 00:00:00
2     LEONARDO*ANDRES*MOSCOTE*CERA            9-04-2025
3    SHAROLYN*NIKOL*SANCHEZ*MORENO           23-04-2025
4    ANGIE*CAROLINA*ANGULO*MERCADO           14-05-2025
5  NICOLAS*MANUEL*HERNANDEZ*PERTUZ           21-05-2025

                        Observaciones
0  Pidió excusa por viaje a su pueblo
1      Se ausento de clase sin excusa
2                                 NaN
3                                 NaN
4   Se conectó al final de la clase.
5                                 NaN